footer
  .container.text-center
    p.pull-left © 2016 Project Mayhem, Inc. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/Ze-Q/guide.me') GitHub Project
