extends layout

block content
  h1 Find your next travel destination
  p.lead We analyze your pictures to guide you to exciting adventures.
  hr
  .row
    .col-sm-12
      h2 Sign in using Facebook to get started!