extends layout

block content
  h1 Find your next travel destination
  p.lead We analyze your pictures to guide you to exciting adventures.
  hr
  .row
    .col-sm-12
      h2 Sign in using Facebook to get started!
    .col-md-4
          .image-wrapper.overlay-fade-in
            img(src= "http://mw2.google.com/mw-panoramio/photos/medium/2065607.jpg" width="350px" height="350px" style="margin:5px")
            |       
            .image-overlay-content
              h2 Duesseldorf, Germany
              |         
              p.price Messe Duesseldorf
              |         
              a.button(href='https://www.ca.kayak.com/hotels/Duesseldorf,Germany/2016-02-01/2016-03-01/2guests') Find Hotels
    .col-md-4
          .image-wrapper.overlay-fade-in
            img(src= "http://mw2.google.com/mw-panoramio/photos/medium/48899.jpg" width="350px" height="350px" style="margin:5px")
            |       
            .image-overlay-content
              h2 Las Vegas, Nevada, United States of America
              |         
              p.price The Cosmopolitan Casino
              |         
              a.button(href='https://www.ca.kayak.com/hotels/LasVegas,Nevada/2016-02-01/2016-03-01/2guests') Find Hotels
    .col-md-4
          .image-wrapper.overlay-fade-in
            img(src= "http://mw2.google.com/mw-panoramio/photos/medium/32647155.jpg" width="350px" height="350px" style="margin:5px")
            |       
            .image-overlay-content
              h2 Krakow, Poland
              |         
              p.price Corpus Christi Church
              |         
              a.button(href='https://www.ca.kayak.com/hotels/Krakow,Poland/2016-02-01/2016-03-01/2guests') Find Hotels




              








              