extends layout

block content
  .page-header
    h3 All locations
      a.btn.btn-success.pull-right(type='button' href="/locations") Retry
  .row
    each location in locations
      .col-md-4
          .image-wrapper.overlay-fade-in
            img(src= location.sImageUrl width="350px" height="350px" style="margin:5px")
            |       
            .image-overlay-content
              h2 #{location.sLocation}
              |         
              p.price #{location.sPoi}
              |         
<<<<<<< Updated upstream
              a.button(href='#') Get it
  hr
  .page-header
    h3 Images Used
  each image in imagesToReport
    img(src= image width="150px" height="150px" style="margin:5px")
  hr
  .page-header
    h3 Keywords Used
  p #{keywordsToReport}
=======
              a.button(href='#{location.goUrl}') Find Hotels
        |   
    
    
>>>>>>> Stashed changes
